<!--
 * @Author: your name
 * @Date: 2021-11-02 20:47:50
 * @LastEditTime: 2021-11-12 22:58:54
 * @LastEditors: your name
 * @Description: 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 * @FilePath: /my_blog/templates/footer.html
-->
{% load static %}
<!-- Footer -->
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; www.wangshaoshuai.com 2021</p>
    </div>
</footer>